@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    font-family: 'Lato', sans-serif;
    margin: 0%;
}
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    background-color: rgb(15, 5, 212);
    color: white;
}
.image-width>img{
    width: 500px;
    height: 400px;
}
.image-width{
    padding: 150px 120px;
}
.padding-distange{
    padding: 200px 130px;
}
.padding-distange>h1,.big-size,.bonous-1{
    font-size: 40px;
}
.color{
    background-color: rgba(255, 0, 0, 0.782);
    padding-left: 15px;
    padding-bottom: 10px;
    display: block;
    width: 120px;
    height: 40px;
    border: 1px solid red;
}
.player-info>img{
    height: 250px;
    width: 300px;
}
.player-info{
    border: 15px solid white;
    width: 300px;
    border-radius: 10px;
    background-color: white;
}
.divide{
    background-color: #f1f1f1;
}
.all-players-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;
    grid-column-gap: 15px ;
    grid-row-gap: 15px;
   
}

.all-players-center{
margin-left: 150px;
padding-top: 50px;
} 
#color{
    height: 15px;
    width: 110px;
    padding-top: 5px;
}
.color:hover{
    background-color: yellow;
    color: black;
}
.match{
    display: flex;
    width: 85%;
    margin-left: 150px;
    margin-top: 100px;
}
.bonous-1{
    padding-top: 100px;
}
.bonous-1>h1{
   text-align: center; 
}
.bonous-1>img{
    height: 400px;
    width: 1200px;
    padding-left: 50px;
    padding-top: 0px;
}
span{
    color: orangered;
}
.video-flex{
    display: flex;
    padding-top: 100px;
    padding-left: 50px;
}
#separete{
    padding-left: 50px;
}
footer>div>b>img{
    padding-top: 100px;
    width: 350px;
    height: 80px;
    padding-left: 400px;
}
.sosal-media{
    display: flex;
    padding-left: 470px;
}
#sosal-distange{
    padding-left: 10px;
}  
.inline{
  
    padding-left: 495px;
    margin-bottom: 25px;
}



/*------------------------------------ Media Queries---------------------------------- */
/* --------------
Mobile Devices------------
*/
@media only screen and (max-width:688px){
.container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 100%;
}
.all-players-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}
.match{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    width: 100%;
}
.video-flex{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 100%;
}
.sosal-media{
    display: flex;
    grid-template-columns: repeat(1,1fr);
    width: 100%;
}
#sosal-distange{
    padding-left: 10px;
}  
}